@import 'fonts.css';

:root {
    /* --main-color: #4241dd; */
    --main-color: #111111;
    --font-color: #f1f1f1;
    --inactive-color: rgb(255 255 255 / 30%);
}

::placeholder {
    color: var(--inactive-color);
    font-family: 'SF Pro Display';
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--inactive-color);
}

* {
    margin: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    background: none;
    box-sizing: border-box;
}


html {
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    height: 100%;
    color: var(--font-color);
    background-color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-family: 'SF Pro Display';
    transition: background-color .2s;
}

button {
    transition: opacity .2s, color .2s;
    outline: none;
    color: var(--font-color);
    font-family: 'SF Pro Display';
    text-transform: uppercase;
    letter-spacing: 0.1em;
    user-select: none;
    cursor: pointer;
    transition: color .2s, opacity .2s;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
}

.menu {
    height: 100%;
    width: 30vw;
    position: relative;
    padding: 2vw;
    border-right: 1px solid var(--font-color);
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
}

.logo {
    height: 4.2rem;
    width: 10rem;
    margin-bottom: 2.8rem;
    background-color: var(--inactive-color);
    border-radius: .6rem;
}

.menu-section {
    margin-top: 4.8rem;
    display: grid;
    height: fit-content;
    margin-left: 30%;
    grid-template-rows: auto;
    grid-row-gap: 0.4em;
}

.habit-menu-section {
    display: none;
}

.habit-menu #menu-btn_add{
    display: none;
}

.habit-menu .habit-menu-section {
    display: grid;
}

.menu-btn {
    font-size: 1.6rem;
    padding: 0.4em 0.8em;
    border-radius: 3em;
    text-align: right;
}

.small-menu-btn {
    font-size: 1.2rem;
    padding: 0.533em 1.067em;
}

.menu-btn:hover {
    opacity: .4;
}

.menu-btn_active {
    background-color: var(--font-color);
    color: var(--main-color);
}

.menu-btn_active:hover {
    opacity: 1;
}

.workspace {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.workspace-block {
    padding: 2vw 3vw;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--font-color);
}

.workspace-block:last-child {
    border-bottom: none;
}

.title-block {
    display: flex;
    user-select: none;
    margin-bottom: 8rem;
}

.title {
    font-size: 24rem;
    line-height: 0.8em;
    vertical-align: top;
    letter-spacing: -0.05em;
}

.title-description {
    font-size: 2.4rem;
    font-weight: 300;
    margin-left: 1em;
    margin-top: 0.2em;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding: 3rem 0;
}

.list:last-child {
    padding-bottom: 0;
}

.habit-block, .statistic-block {
    height: 15vw;
    padding: 2.8rem;
    font-size: 1.6rem;
    color: var(--white-color);
    border-radius: 2rem;
    border: 1px solid var(--inactive-color);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: .2s;
}

.habit-block:hover {
    background-color: #4241dd;
    border-color: transparent;
}

.habit-block_title, .statistic-block_title {
    font-size: 1.4em;
    overflow-wrap: break-word;
    line-height: 1.3em;
    font-weight: 300;
}

.habit-block_count-container {
    font-size: 1em;
    flex: 1; 
    padding-top: 2em;
    font-weight: bold;
    display: inline-flex;
    align-items: flex-end;
}

.habit-block_count {
    line-height: 1em;
    user-select: none;
    letter-spacing: 0.01em;
    text-transform: none;
}

.habit-block_count-brn {
    color: inherit;
    font-weight: bold;
    display: none;
}

.habit-block_count-brn:hover {
    text-decoration: underline;
}

.habit-block:hover .count-brn_active {
    display: block;
}

.habit-block_count-brn:active {
    opacity: .4;
}

.habit-block_count-container:hover .habit-block_count-brn {
    display: block;
}

.habit-block_count-container:hover .habit-block_count {
    display: none !important;
}


.habit-block_done {
    color: var(--inactive-color);
}

.habit-block_done .habit-block_title {
    text-decoration: line-through;
    text-decoration-color: var(--inactive-color);
}

.habit-block_done .habit-block_count {
    transition: .05s;
}

.habit-block_done:hover {
    background-color: var(--font-color);
    color: var(--main-color);
}

.habit-block_done:hover .habit-block_count {
    opacity: 0.25;
}

.habit-block_done:hover .habit-block_title {
    text-decoration-color: transparent;
}

.habit-block_done .habit-block_count-container:hover .habit-block_count {
    display: block !important;
}

.show-count .habit-block_count-container:hover .habit-block_count {
    display: block;
}

.habit-title-block {
    margin-bottom: 10rem;
}


#habit-title {
    font-size: 8rem;
    line-height: 1.05em;
    min-width: 42vw;
    max-width: 100%;
}

#habit-title_description {
    font-size: 1.2rem;
    max-width: 42vw;
    line-height: 1.6em;
    margin-top: 2.2em;
}

.today-habit-block, .input-block {
    padding: 2em 3em;
    border-radius: 10em;
    width: max-content;
    border: 1px solid var(--inactive-color);
    display: flex;
    align-items: center;
    grid-gap: 2em;
    margin-bottom: 1.2rem;
    user-select: none;
}

.today-habit_step-container, .checkbox-container {
    display: flex;
    grid-gap: 1em;
    align-content: center;
    flex-direction: row;
}

.today-habit_step {
    width: 3.2rem;
    height: 3.2rem;
    border: 1px solid var(--font-color);
    border-radius: 100%;
    cursor: pointer;
    opacity: .6;
    transition: .2s;
}

.today-habit_step:hover {
    opacity: 1;
}

#workspace-block_habit-statistic {
    --main-color: #111111;
    --font-color: #f1f1f1;
    background-color: var(--main-color);
    color: var(--font-color);
    flex: 1;
}

.statistic-block {
    height: auto;
    cursor: default;
    user-select: none;
}

.statistic-block_title {
    font-weight: bold;
    margin-bottom: 0.68em;
}

.statistic-block_description {
    font-weight: 300;
    letter-spacing: 0.12em;
    font-size: 0.72em;
    line-height: 0.8em;
}

#history-container {
    width: 42vw;
    height: 42vw;
}

.index-container {
    display: flex;
    flex-direction: column;
    grid-gap: 2.4rem;
}

.input-row {
    display: flex;
    grid-gap: 1.6rem;
}

.input-block {
    padding: 0 3em;
    border-radius: 10em;
    margin-bottom: 0;
    max-width: 100%;
    transition: opacity .2s, border-color .2s;
}

.input-block_active {
    border-color: var(--font-color);
}

.input-block_active .input-name {
    opacity: 1;
}

.input-name {
    padding: 2.1em 0 2em;
    opacity: .6;
}

input {
    flex: 1;
    height: 3.2rem;
    padding: 1.9rem 0;
    font-size: 1.8rem;
    box-sizing: content-box;
    font-family: 'SF Pro Display';
    color: var(--font-color);
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#units-input {
    width: 4.4em;
    text-transform: none;
}

#step-input {
    width: 1.4em;
}

#name-habit-input {
    width: 20vw;
    text-transform: none;
}

#description-input {
    width: 40vw;
    text-transform: none;
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 3.2rem;
    background-color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    background: transparent;
    border: 1px solid var(--inactive-color);
    border-radius: 100%;
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
    -webkit-appearance: none;
    transition: border-color .2s;
}

input[type=range]::-webkit-slider-thumb:hover {
    border-color: var(--font-color);
}

input[type=range]::-webkit-slider-thumb:active {
    background-color: var(--font-color);
}

#color-input {
    width: 22vw;
}

.checkbox-container {
    padding: 1.9rem 0;
}

.checkbox-block {
    position: relative;
    width: 3.2rem;
    height: 3.2rem;
}

.checkbox-block input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox_name {
    border: 1px solid var(--inactive-color);
    color: var(--inactive-color);
    border-radius: 100%;
    display: flex;
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
    letter-spacing: 0.04em;
    align-items: center;
    justify-content: center;
    transition: .2s;
    font-family: 'SF Pro Display';
}

.checkbox-block:hover .checkbox_name {
    border-color: var(--font-color);
    color: var(--font-color);
}

input:checked+.checkbox_name {
    background-color: var(--font-color);
    border-color: var(--font-color);
    color: var(--main-color);
}

.checkbox-block:hover input:checked + .checkbox_name {
    color: var(--main-color);
}

svg#checkbox_mark{
    width: 40%;
    height: 40%;
    transition: .2s;
}

#checkbox_mark path{
    stroke: var(--inactive-color);
}

.checkbox-block:hover #checkbox_mark path{
    stroke: var(--font-color);
}

input:checked + .checkbox_name #checkbox_mark path{
    stroke: var(--main-color);
}

.input_button {
    background-color: var(--font-color);
    transition: opacity .2s;
    margin-top: 2em;
}

.input_button input {
    font-size: 1rem;
    letter-spacing: 0.15em;
    cursor: pointer;
    border-color: transparent;
    color: var(--main-color);
    font-weight: bold;
}

.input_button:hover {
    opacity: .6;
}