.form__container {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-item-big);
  position: relative;
  width: 100%;
  font-size: 2.4rem;
}

.buttons,
.params {
  display: flex;
  align-items: center;
  column-gap: var(--gap-item);
}

.buttons {
  justify-content: flex-end;
}

#textarea__name {
  font-size: 1em;
}

#textarea__description {
  font-size: 0.6em;
}
