.button {
  width: 2.8rem;
  height: 2.8rem;
  padding: 0;
  background-color: var(--color-secondary-hover);
  color: var(--background-color-item);
  border-radius: 100%;
  transition: scale var(--animation), background-color var(--animation),
    color var(--animation), opacity var(--animation);

  .icon {
    margin: auto;
    width: 0.8em;
    height: 0.8em;
  }

  &:hover {
    background-color: var(--color-secondary-hover);
  }

  &:active {
    scale: 0.9;
  }

  &:disabled {
    opacity: var(--opacity);
    background-color: var(--color-secondary-hover);
    color: var(--background-color-field);
    scale: 1;
  }
}

.value {
  align-self: center;
  margin: 0 0.2em;
  text-align: center;
  font-size: 0.6em;
  min-width: 2em;
}
