.button {
  width: 2.8rem;
  height: 2.8rem;
  padding: 0;
  background-color: var(--color-secondary-hover);
  color: var(--background-color-item);

  .icon {
    margin: auto;
    width: 1.2em;
    height: 1.2em;
  }

  &:hover {
    background-color: var(--color-secondary-hover);
  }

  &:disabled {
    opacity: 0.6;
    background-color: var(--color-secondary);
    color: var(--background-color-item);
  }
}

.value {
  align-self: center;
  margin: 0 0.2em;
  text-align: center;
  font-size: 0.6em;
  min-width: 2em;
}
