.button {
  background-color: var(--color-main);
  color: black;
  outline: none;
  transition: scale var(--animation), background-color var(--animation),
    color var(--animation), opacity var(--animation);
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: var(--gap-item);

  &_fill {
    width: max-content;
  }

  &:hover {
    background-color: var(--color-main-hover);
  }

  &:active {
    scale: 0.98;
  }

  &:disabled {
    opacity: var(--opacity);
    background-color: var(--color-secondary-hover);
    color: var(--background-color-field);
    scale: 1;
  }

  &_active {
    background-color: var(--color-main-hover);
  }

  &_secondary {
    background-color: var(--background-color-secondary);

    &.button_active {
      background-color: var(--background-color-item);
    }

    &:hover {
      background-color: var(--background-color-item);
    }

    &:disabled {
      background-color: transparent;
    }
  }

  &_small {
    padding: var(--padding-button-small);
    font-size: 1.2rem;
  }
}
