@import "../../styles/variables";

.block {
  height: 15vw;
  padding: 2.4rem;
  font-size: 1.6rem;
  color: $font-color;
  border-radius: 0.8em;
  border: 1px solid $inactive-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.2s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &Active {
    border-color: transparent;

    .button {
      opacity: 1;
    }
  }

  &Completed {
    color: $inactive-color;

    .title {
      text-decoration: line-through;
      text-decoration-color: $inactive-color;
    }

    &:hover {
      background-color: $font-color;
      color: var(--main-color);

      .title {
        text-decoration-color: transparent;
      }

      .count {
        opacity: 0.4;
      }
    }
  }
}

.title {
  font-size: 1.2em;
  overflow-wrap: break-word;
  line-height: 1.3em;
  letter-spacing: 0.04em;
  font-weight: 300;
}

.body {
  font-size: 1em;
  padding-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.count {
  line-height: 1.2;
  user-select: none;
  letter-spacing: 0.01em;
  font-weight: 700;
  text-transform: none;
  transition: opacity 0.2s;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.button {
  font-size: 0.8em;
  color: inherit;
  font-weight: 300;
  // opacity: 0;
  transition: opacity 0.2s;
  z-index: 3;

  &:active {
    opacity: 0.4;
  }
}
