:root {
  --padding-wrapper: 2.4rem;
  --padding-content: 4.8rem 5.6rem;
  --row-gap-content: 4.8rem;

  --background-color-main: #1d1c21;
  --background-color-content: #f1f1f1;

  --border-radius: 0.4em;
  --border-radius-big: 1.2em;
  --border-line: 0.1rem solid;
}
