@mixin CreateFont($weight-name, $weight) {
    @font-face {
      font-family: "Gilroy";
      src: url('fonts/SFProDisplay-#{$weight-name}.eot');
      src: url('fonts/SFProDisplay-#{$weight-name}.eot?#iefix') format('embedded-opentype'),
          url('fonts/SFProDisplay-#{$weight-name}.woff') format('woff'),
          url('fonts/SFProDisplay-#{$weight-name}.ttf') format('truetype');
      font-weight: $weight;
      font-style: normal;
    }
  }
  
  @include CreateFont("Light", 300);
  @include CreateFont("Medium", 500);
  @include CreateFont("Bold", 700);