@import './variables';

* {
    margin: 0;
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 0.625vw;
    scroll-behavior: smooth;
}

body {
    position: relative;
    height: 100%;
    color: $font-color;
    background-color: $main-color;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-family: 'SF Pro Display';
    transition: background-color .2s;
}

button {
    transition: opacity .2s, color .2s;
    font-size: 1.4rem;
    color: var(--font-color);
    font-family: 'SF Pro Display';
    text-transform: uppercase;
    letter-spacing: 0.1em;
    user-select: none;
    cursor: pointer;
    transition: color .2s, opacity .2s;
}

#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
}

.workspace {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}