@import 'variables';
@import 'fonts';
@import 'scroll';
@import 'reset';

@include MakeFont('../fonts');

html {
  font-size: 1rem;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Manrope', Helvetica, Arial, sans-serif;
  background-color: var(--background-color-main);
  line-height: 1.25;
  font-size: 1.6rem;
}

h1 {
  font-size: 3.6rem;
  line-height: 1.1;
}

.list,
.list-row {
  display: flex;
  gap: var(--gap-item);
}

.list {
  flex-direction: column;
}

.list_end {
  justify-content: flex-end;
}

.content,
.content-row {
  width: 100%;
  position: relative;
  display: flex;
  gap: var(--gap-content);
  padding: var(--padding-content);
  background-color: var(--background-color-content);

  &_dark {
    color: white;
    background-color: var(--background-color-substrate);
  }

  &_fill {
    flex: 1;
  }

  &_between {
    justify-content: space-between;
  }
}

.content {
  flex-direction: column;
}

.form-element {
  width: 100%;
  border-radius: var(--border-radius-button);
  padding: var(--padding-button);
  font-size: var(--font-size-button);
}

.description {
  margin-top: 0.4em;
  font-size: 0.8em;
}